<html lang="en" ng-app="avCore">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>

        Asteroid Ventures Game Test App

    </title>

    <!-- ### STYLESHEETS ### -->
    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- adminLTE to make things pretty -->
    <link href="css/AdminLTE.css" rel="stylesheet" type="text/css">
    <!-- also sb-admin-2 CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts / icons -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- ### JS LIBS ### -->
    <!-- jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- angular core -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <!-- app modules -->
    <script src="districtClaimer/districtClaimer.js"></script>
    <script src="regionSelector/regionSelector.js"></script>
    <script src="regionOverview/regionOverview.js"></script>
    <script type="text/javascript" src="js/AV_app.js"></script>

</head>
<body>
    <section class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Control Page</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div id="player-controls" ng-controller="playerControls as playCtrl">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Choose Your Player:</label>
                        <select id="player-selector" class="form-control" ng-model="playCtrl.playerID" placeholder="choose your player">
                            <option ng-repeat="player in playCtrl.players" value={{$index}}>
                                {{player.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="turn-complete" ng-show="playCtrl.player().hasPlayed == 'true'">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-danger huge">
                            Turn already completed. Cannot take further actions.
                        </div>
                    </div>
                </div>
            </div>
             <div id="main-controls" ng-show="playCtrl.player().hasPlayed == 'false'">
                <div class="row">

                    <region-selector class="col-lg-3 col-md-6"></region-selector>

                    <region-overview class="col-md-4"></region-overview>

                    <div class="col-md-5" ng-show="playCtrl.selectedBodyID >= 0">
                        <div id="construction-box" class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="huge">Construction</div>
                            </div>
                            <div class="panel-footer">
                                <button id="build-stuff-btn" ng-click="playCtrl.buildIt()">Build</button>
                                <input type="number" id="build-amount" value="1" min="0" max="999"/>
                                <!-- TODO: populate this after ajax call to load building stats -->
                                <select id="selected-building">
                                    <option value="greenhouse">Greenhouse</option>
                                    <option value="power plant">Power Plant</option>
                                    <option value="mine">Metal Mine</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <district-claimer class="col-lg-3 col-md-4"></district-claimer>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div id="turn-submit-box" class="col-xs-12">
                        <div class="box box-solid box-warning">
                            <div class="box-header">
                                <h3 class="box-title">turn summary</h3>
                            </div>
                            <div class="box-body">
                                <div id="actions-list">
                                    <li>TURN START</li>
                                </div>
                                <button id="turn-submit-btn" ng-click="playCtrl.submitTurn()">submit turn</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-solid box-success">
                            <div class="box-header">
                                <h3 class="box-title">selected player data</h3>
                            </div>
                            <div class="box-body">
                                <div id="raw-player-save" style="font-family:monospace;">
                                    loading...
                                </div>
                            </div>
                        </div>
                        <div class="box box-solid box-primary">
                            <div class="box-header">
                                <h3 class="box-title">current raw game save json</h3>
                            </div>
                            <div class="box-body">
                                <div id="raw-save" style="font-family:monospace;">
                                    loading...
                                </div>
                                <button onclick="showRawSave('#raw-save')">refresh</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /main-controls -->
            <div>
                i:{{playCtrl.playerID}} <br>
                n:{{app.gameData.players[playCtrl.playerID].name}} <br>
                p:{{playCtrl.player()}}
            </div>
        </div><!-- player-controls -->
        <div class="col-md-12">
            <div id="admin-controls" class="box box-solid box-danger">
                <div class="box-header">
                    <h3 class="box-title">admin controls</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-6">
                            turn # <span id="current-turn" class="huge">???</span>
                        </div>
                        <div class="col-xs-6">
                            Player status:
                            <div id="player-completion-list">check js console for err if this text is showing...</div>

                            <button onclick="nextTurn()">Complete all turns</button><br>
                            Warn: completing turn before a player has played skips their turn!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>

<!-- test scripts -->
<script src="js/showRawSave.js"></script>

<!-- main app script -->
<script src="js/controls.js"></script>

</html>