<div>
    <div class="panel panel-success" ng-controller="districtClaimController as claimCtrl"
         ng-show="playCtrl.selectedTerritory">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-globe fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div><h3>New District</h3></div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="form-group">
                <label>Build From</label>
                <select class="form-control" ng-model="claimCtrl.launchPointID">
                    <option ng-repeat="locale in playCtrl.player().locations" value={{$index}}>
                        {{locale.body}}:{{locale.territoryName}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>District Type</label>
                <select class="form-control" ng-model="claimCtrl.newDistrictType">
                    <option ng-repeat="($key, districtType) in playCtrl.districtData" value={{$key}}>
                        {{districtType.name}}
                    </option>
                </select>
            </div>
            Cost to Establish: TODO <br>
            <div class="form-group">
                <label>District Name</label>
                <input class="form-control" type="text" ng-model="claimCtrl.newDistrictName"/>
            </div>
            <button ng-click="claimCtrl.claimDistrict(playCtrl)">Build New District</button>
        </div>
    </div>
</div>