<div id='region-overview' ng-controller="regionOverviewController as regionViewCtrl" ng-show="regionViewCtrl.hasDistrictIn(playCtrl.player(), playCtrl.selectedTerritory)">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="huge">Region Overview</div>
        </div>
        <div class="panel-footer">
            your resources:
            <div id="resources-summary">{{playCtrl.location().resources}}</div>
            <div>
                your districts:
                <div ng-repeat="district in playCtrl.location().districts">
                    <h4>{{district.name}} ({{district.type}})</h4>
                    upgrade slots:
                    <div ng-repeat="slot in district.upgradeSlots" ng-controller="districtController as distCtrl">
                        {{$index}}. {{slot}} <span ng-show="!slot.name"> (EMPTY) </span>
                        <form ng-show="!slot.name">
                            add upgrade:
                            <span ng-repeat="upgradeKey in distCtrl.getPossibleUpgrades(district.type)">
                                <button ng-click="distCtrl.setSelectedUpgrade(upgradeKey)">{{distCtrl.getUpgrade(upgradeKey).name}}</button>
                            </span>
                            <div ng-show="distCtrl.selectedUpgrade">
                                cost to build {{distCtrl.upgradeObj.name}}:
                                {{distCtrl.upgradeObj.cost}}
                                <br> effect: {{distCtrl.upgradeObj.effect}}
                                <button ng-click="distCtrl.buildUpgrade(playCtrl.location(), district, $index)">build it</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <h3>resource balance:</h3>
                production:
                <div id="production-summary">{{playCtrl.productionLevels()}}</div>
                resource in/out flow:
                <div id="resource-flow">TODO</div>
            </div>
            "work-units":
            <div id="buildings-summary">{{playCtrl.location().units}}</div>
        </div>
    </div>
</div>